header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: none;
}

.block {
  display: flex;
  justify-content: space-between;
  border: 1px solid #959595;
  border-radius: 10px;
  width: 600px;
  padding: 20px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 160px;
  border-radius: 10px;
  background-color: #f8f8f8;
  color: #2a46c0;
}

.reset {
  cursor: pointer;
  outline: none;
  padding: 5px;
  width: 120px;
  height: 50px;
  margin-top: 49px;
  border-radius: 10px;
  color: #2a46c0;
  border: 2px solid #888888;
  background-color: #f8f8f8;

  &:hover {
    border: 2px solid #ffffff;
    background-color: #c7c7c7;

  }

}
.points {
  font-size: 40px;

}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.triangle {
  margin-top: 57px;
}

.button-group {
  position: absolute;

  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.paper {
  cursor: pointer;
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 15px solid #0044ff;
  outline: none;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #bdbdbd;
    border: 15px solid #4778ffef;
  }
}

.scissors {
  cursor: pointer;
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 15px solid #eba00e;
  outline: none;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 15px solid #fab835;
  }

    &--result {
      margin: 0;
  }
}

.rock {
  cursor: pointer;
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  outline: none;
  border: 15px solid #db3857;
  display: flex;
  margin: 18px 0 0 106px;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 15px solid #f54a69;
  }

  &--result {
    margin: 0;
  }
}

.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.result {
  display: flex;
  justify-content: center;
  color: #ffffff;

  &__choices {
    display: flex;
    flex-direction: column;
  }
}

.winner {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #ffffff;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

