
<app-header></app-header>
<div class="container">
  <div class="button-group">
    <button (click)="checkResult($event)" class="button" value="paper"><img value="paper"src="../assets/images/icon-paper.svg"></button>
    <button (click)="checkResult($event)"class="button button--scissors" value="scissors"><img value="scissors" src="../assets/images/icon-scissors.svg"></button>
    <button (click)="checkResult($event)" class="button button--rock" value="rock"><img value="rock" src="../assets/images/icon-rock.svg"></button>
  </div>
</div>
