
<header>
  <div class="block">
    <img src="../../../assets/images/logo.svg">
    <button class="reset" (click)="resetScore()">RESET POINTS</button>
    <div class="score">
      <h2>SCORE</h2>
      <p class="points">{{ points }}</p>
    </div>
  </div>
</header>
<div *ngIf="choosenButton === ''" class="container">
  <img class="triangle" src="../assets/images/bg-triangle.svg">
  <div class="button-group">
    <app-button (click)="checkResult(choosenButton = 'paper')"  class="paper"  iconImageUrl="../assets/images/icon-paper.svg"></app-button>
    <app-button (click)="checkResult(choosenButton = 'scissors')"  class="scissors"  iconImageUrl="../assets/images/icon-scissors.svg"></app-button>
    <app-button (click)="checkResult(choosenButton = 'rock')"  class="rock"  iconImageUrl="../assets/images/icon-rock.svg"></app-button>
  </div>
</div>
<div *ngIf="choosenButton !== ''" class="result-container">
  <header class="header">
    <h1 class="result" >Results</h1>
    <h2 class= "winner">{{winner}}</h2>
  </header>
    <div class="results">
      <div class="result__choices">
          <h2>Your Choice</h2>
          <app-button class="{{choosenButton}} {{choosenButton}}--result" iconImageUrl="../assets/images/icon-{{choosenButton}}.svg"></app-button>
      </div>
      <button class="reset" (click)="goBack()">Play Again</button>
      <div class="result__choices">
          <h2>OpponentChoice</h2>
          <app-button class="{{opponentChoice}} {{opponentChoice}}--result" iconImageUrl="../assets/images/icon-{{opponentChoice}}.svg"></app-button>
        </div>
    </div>
</div>
